<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>MaintainPatientServlet</servlet-name>
        <servlet-class>servlet.MaintainPatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintainTreatmentServlet</servlet-name>
        <servlet-class>servlet.MaintainTreatmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintainDiagnosisServlet</servlet-name>
        <servlet-class>servlet.MaintainDiagnosisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataInit</servlet-name>
        <servlet-class>servlet.DataInit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicalModuleReportServlet</servlet-name>
        <servlet-class>servlet.MedicalModuleReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MaintainPatientServlet</servlet-name>
        <url-pattern>/MaintainPatientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintainTreatmentServlet</servlet-name>
        <url-pattern>/MaintainTreatmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintainDiagnosisServlet</servlet-name>
        <url-pattern>/MaintainDiagnosisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataInit</servlet-name>
        <url-pattern>/DataInit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicalModuleReportServlet</servlet-name>
        <url-pattern>/MedicalModuleReportServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
